In [12]:
import pandas as pd

In [13]:
#Check to ensure file/info is obtainable
blueprintFile = pd.read_excel('incstmt-0.xlsx', sheet_name = 'IncomeStatement', index_col = 0, comment = '#')

blueprintFile

                               Description  Act2018  Act2019  Proj2020
CODE
SALE                         Sales Revenue        0        0         0
CGS                     Cost of Goods Sold        0        0         0
PROF                          GROSS PROFIT        0        0         0
SGA   Selling, General, and Administrative        0        0         0
ADV                            Advertising        0        0         0
DEP                           Depreciation        0        0         0
RENT                        Rental Expense        0        0         0
OTHX                         Other Expense        0        0         0
EXP                         TOTAL EXPENSES        0        0         0
EBT                  EARNINGS BEFORE TAXES        0        0         0

In [14]:
divisionA = pd.read_excel('incstmt-diva.xlsx', sheet_name='IncomeStatement', index_col=0, comment = '#')
divisionA = divisionA.drop(columns=['Description'], axis=1)


divisionA

      Act2018  Act2019  Proj2020
CODE
SALE     43.9     40.3      50.2
CGS      17.5     18.0      18.2
PROF     26.4     22.3      32.0
SGA       2.1      1.8       2.1
ADV       1.3      1.2       1.5
DEP       2.6      2.5       3.2
RENT      2.2      2.2       2.2
OTHX      3.1      3.2       3.4
EXP      11.3     10.9      12.4
EBT      15.1     11.4      19.6

In [15]:
divisionB = pd.read_excel('incstmt-divb.xlsx', sheet_name='IncomeStatement', index_col=0, comment = '#')
divisionB = divisionB.drop(columns=['Description'], axis=1)

divisionB

      Act2018  Act2019  Proj2020
CODE
SALE     33.7     35.0      36.0
CGS      15.0     15.5      16.2
PROF     18.7     19.5      19.8
SGA       1.8      1.8       2.4
ADV       1.1      1.2       1.3
DEP       2.1      2.2       2.3
RENT      1.0      0.5       0.0
OTHX      2.0      2.1       2.2
EXP       8.0      7.8       8.2
EBT      10.7     11.7      11.6

In [16]:
divisionSum = divisionA.add(divisionB)

divisionSum

      Act2018  Act2019  Proj2020
CODE
SALE     77.6     75.3      86.2
CGS      32.5     33.5      34.4
PROF     45.1     41.8      51.8
SGA       3.9      3.6       4.5
ADV       2.4      2.4       2.8
DEP       4.7      4.7       5.5
RENT      3.2      2.7       2.2
OTHX      5.1      5.3       5.6
EXP      19.3     18.7      20.6
EBT      25.8     23.1      31.2